<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore magnam soluta earum perspiciatis ipsam
            facilis architecto possimus nobis? Ullam fugit obcaecati excepturi in laborum laudantium sequi explicabo,
            repellat doloribus quo?
            Earum doloribus necessitatibus ipsam dolorum suscipit adipisci voluptatem aperiam aspernatur placeat
            dolorem. Dolore quas, corporis ratione obcaecati eaque ducimus rerum rem natus! Pariatur voluptas minus
            sint quis perferendis facere quisquam.
            Quod commodi dignissimos, quaerat repellendus assumenda veniam necessitatibus blanditiis! Est aliquam
            dignissimos ipsam quod saepe officiis, consequatur laborum quos voluptas perferendis accusamus a velit.
            Explicabo velit aspernatur dicta molestiae quae?
            Ratione magni illum architecto veniam adipisci laboriosam magnam inventore aut voluptates libero non nihil
            quia consequuntur deserunt rem, maxime iure eos tenetur fugiat repellendus labore! Atque maiores inventore
            in ipsam.
            Nesciunt amet autem, error hic, sed ullam reprehenderit odit eum porro mollitia non ex sequi veritatis,
            veniam fugit. Amet nesciunt voluptatem nemo magni, repudiandae ex corrupti repellendus perferendis nihil
            voluptatibus?</p>
    </div>
</div>