<div class="jumbotron mt-4">
     <h1 class="display-4">Notes App Node.js MongoDB </h1>
    <p id="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus!</p>
    <hr id="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quaerat atque molestias eligendi officia nostrum, beatae animi eum fugit quod temporibus minima commodi similique laudantium sint vero mollitia accusamus aut.
    Excepturi nobis tempora ex assumenda cupiditate magni molestias expedita aperiam aliquam sit illum rerum reprehenderit repellendus tenetur eligendi quo, laudantium facere nostrum similique. Quia qui non atque voluptas nisi iusto!
    Eaque vel facere a, amet nisi itaque in, sit id libero veritatis commodi cupiditate! Magnam maiores nihil dignissimos, numquam perspiciatis cumque inventore est accusantium esse aut ut natus? Dolor, dolorum!
    Voluptates perferendis explicabo porro vero illum laudantium distinctio facilis consequuntur, assumenda repellat pariatur voluptas. Odit, quisquam, architecto natus atque porro sapiente a id iure delectus illo molestias ducimus fugit corrupti?
    Fuga corrupti dolor itaque nobis ipsum incidunt molestias voluptatibus ullam! Eveniet voluptas at deleniti! Veniam, consequatur? Magnam nesciunt assumenda minus, illo error fugiat doloremque totam veritatis, iste similique voluptates beatae.
    Quod illum ducimus praesentium numquam ullam, neque eum et, eius nihil veniam, doloremque sunt cumque voluptate id laborum excepturi quibusdam accusantium vitae explicabo? Non vel iusto fugit labore, excepturi officia?
    Nisi enim nesciunt accusantium voluptas natus laborum, neque sunt corporis voluptate a cumque illum atque dignissimos quisquam ea, placeat tempore</p>
    <a href="http://youtube.com" class="btn btn-primary btn-lg">website</a>
</div>